DEBUG=1

ALLOWED_ORIGINS=*

# mysql or sqlite
DB_TYPE=mysql

# if mysql DB_TYPE specified
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=

# increase/decrease based on your needs, not applicable if DB_TYPE=sqlite
POOL_RECYCLE=300
POOL_SIZE=10
MAX_OVERFLOW=20
POOL_TIMEOUT=60

# use qdrant(service name from the docker-compose.yml) instead of localhost while running in docker(ex: http://qdrant:6333)
QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=

# model name or path to a local model
EMBEDDING_MODEL=all-MiniLM-L6-v2
RERANKER_MODEL=BAAI/bge-reranker-base
CHUNKER_MODEL=sentence-transformers/all-MiniLM-L6-v2
CHUNKER_MAX_TOKENS=512

LOG_DIR=./logs
DOCUMENT_DIR=./documents

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=27723
CELERY_BROKER_DB=0
CELERY_BACKEND_DB=1

DOCKER_PORT=8001